{% extends "crm/base.html" %}

{% block style %}
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    .title {
        color: blue;
    }

<!-- search     -->
    body {
        font-family: Arial;
    }

    * {
        box-sizing: border-box;
    }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

    form.example button:hover {
        background: #0b7dda;
    }

    form.example::after {
        content: "";
        clear: both;
        display: table;
    }
{% endblock %}


{% block body %}

    <h2>Tasks Archive</h2>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form class="example" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div style="overflow-x:auto;">
        <table>

            <tr class="title">
                <th>Дата начала</th>
                <th>Тема</th>
                <th>Постановщик</th>
                <th>Исполнитель</th>
                <th>Описание</th>
                <th>Дата завершения</th>
            </tr>

            {% for record in archive %}
                <tr>
                    <th>{{ record.date_create }}</th>
                    <th>{{ record.subject }}</th>
                    <th>{{ record.task_manager }}</th>
                    <th>{{ record.executor }}</th>
                    <th>{{ record.description }}</th>
                    <th>{{ record.date_complete }}</th>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}
