{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/archive.css' %}" type="text/css">
{% endblock %}

{% block body %}

    <h2>Tasks Archive</h2>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form class="example" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div style="overflow-x:auto;">
        <table>

            <tr class="title">
                <th>Start date</th>
                <th>Topic</th>
                <th>Reporte</th>
                <th>Assignee</th>
                <th>Finish date</th>
            </tr>

            {% for record in archive %}
                <tr>
                    <th>{{ record.date_create }}</th>
                    <th><a href="{% url 'completed_task' pk=record.id %}">{{ record.subject }}</a></th>
                    <th>{{ record.task_manager }}</th>
                    <th>{{ record.executor }}</th>
                    <th>{{ record.date_complete }}</th>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}
