{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/change_user_pass.css' %}">
{% endblock %}


{% block body %}
     <form method="POST">
        {% csrf_token %}
        <div class="container">
            <h3>Change Password</h3>

            {% for f in form %}
                <label for="{{ f.name }}"><b>{{ f.name }}</b></label>
                <input type="password" placeholder="Enter {{ f.name }}" name="{{ f.name }}" required>
            {% endfor %}


            <button type="submit" class="btn">confirm</button>
        </div>
    </form>
{% endblock %}
