{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/create_workplace.css' %}">
    <script src="{% static 'crm/js/create_workplace.js' %}"></script>
{% endblock %}

{% block body %}

    <p>Click on the buttons inside the tabbed menu:</p>
    <div class="container">
        <div class="tab">
            <button class="tablinks" onclick="openWorkplace(event, 'Department')">Department</button>
            <button class="tablinks" onclick="openWorkplace(event, 'Position')">Position</button>
        </div>

        <div id="Department" class="tabcontent">
            <form method="POST">
                {% csrf_token %}
                <label for="id_name">Department:</label>
                {{ form_dep.name }}
                <button type="submit" class="createbtn">create</button>
            </form>
        </div>

        <div id="Position" class="tabcontent">
            <form method="POST">
                {% csrf_token %}
                    {% for form in form_pos %}
                        {% if form.name == 'department_fk' %}
                            <label for="{{ form.name }}">Department:</label>
                            {{ form }}
                        {% else %}
                            <label for="{{ form.name }}">Position:</label>
                            {{ form }}
                        {% endif %}
                    {% endfor %}

<!--                    {{ form_pos}}-->
                <button type="submit" class="createbtn">create</button>

            </form>
        </div>
    </div>

{% endblock %}
