{% extends "crm/base.html" %}

{% block style %}
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }


    .createbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .createbtn:hover {
        opacity: 1;
    }

    .container {
        border-radius: 5px;
        padding: 16px;
        background-color: white;
    }

     input[type=text], select {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

     * {
        box-sizing: border-box;
    }

{% endblock %}


{% block body %}

    <p>Click on the buttons inside the tabbed menu:</p>
    <div class="container">
        <div class="tab">
            <button class="tablinks" onclick="openWorkplace(event, 'Department')">Department</button>
            <button class="tablinks" onclick="openWorkplace(event, 'Position')">Position</button>
        </div>

        <div id="Department" class="tabcontent">
            <h3>Department</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form_dep.name }}
<!--                <input type="text" placeholder="Enter department" name="department">-->
                <button type="submit" class="createbtn">create</button>
            </form>
        </div>

        <div id="Position" class="tabcontent">
            <h3>Position</h3>
            <form method="POST">
                {% csrf_token %}
<!--                <label for="dep_id">Department:</label>-->
<!--                <select name="dep_id" id="dep_id" required >-->
<!--                    <option value="">&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
<!--                    {% for d in dep %}-->
<!--                        <option value="{{ d.id }}">{{ d.name }}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--                <label for="position">Position:</label>-->
<!--                <input type="text" placeholder="Enter position" name="position">-->
                    {{ form_pos }}
                <button type="submit" class="createbtn">create</button>

            </form>
        </div>
    </div>



    <script>
        function openWorkplace(evt, tabId) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabId).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>


{% endblock %}
