{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/edit_profile.css' %}">
{% endblock %}


{% block body %}

    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <h1>Edit your account</h1>
            <p>You can edit your account using the following form:</p>
            <hr>
                {% for field in user_form %}
                    <b>{{ field.label_tag }}</b>
                    {{ field.help_text }}
                    {{ field.errors }}
                    <input type="email" value="{{ field.value }}" name="{{ field.name }}" required>
                {% endfor %}


                {% for f in profile_form %}
                    {% if f.name == 'department' %}
                        <label for="{{ f.name }}"><b>{{ f.name }}</b></label>
                        <select id="department" name="{{ f.name }}">
                            <option value="">Choose your department</option>
                            {% for d in depart %}
                                <option value="{{ d.id }}">{{ d }}</option>
                            {% endfor %}
                        </select>
                    {% elif f.name == 'position' %}
                        <label for="{{ f.name }}"><b>{{ f.name }}</b></label>
                        <select id="position" name="{{ f.name }}">
                        </select>
                    {% elif f.name == 'password' %}
                        <label for="{{ f.name }}"><b>{{ f.name }}</b></label>
                        <input type="password" name="{{ f.name }}" required>
                    {% else %}
                        <label for="{{ f.name }}"><b>{{ f.name }}</b></label>
                        <input type="text" value="{{ f.value }}" name="{{ f.name }}" required>
                    {% endif %}
                {% endfor %}

            <hr>

            <button type="submit" class="editbtn">Save changes</button>

        </div>

    </form>

    <script>
        var positionURL = "{% url 'choice_position' %}";
        csrfToken = '{{ csrf_token }}';

        document.getElementById("department").onchange = function() {
            var depId = document.getElementById('department').value;

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open('POST', positionURL);
            xmlhttp.setRequestHeader('Content-Type', 'application/json');
            xmlhttp.setRequestHeader('X-CSRFToken', csrfToken);

            xmlhttp.send(JSON.stringify({depId: depId}));

            xmlhttp.onreadystatechange = function () {

                if (this.readyState === 4 && this.status === 200) {
                    var response = JSON.parse(this.responseText);
                    var allPosition = response['pos_l']
                    console.log(allPosition)

                    // clean option list //
                    var pos = document.getElementById('position');
                    while (pos.options.length) {
                        pos.options[0] = null;
                    }

                    for (i = 0; i < allPosition.length; i++) {
                        position.append(new Option(allPosition[i][0], allPosition[i][1]))
                    }
                }
            }
        }
    </script>

{% endblock %}