{% extends "crm/base.html" %}

{% block style %}
     body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
    }

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        border-radius: 5px;
        padding: 16px;
        background-color: white;
    }

    .errorlist {
        color: red;
    }

    input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
        background-color: #ddd;
        outline: none;
    }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .editbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .editbtn:hover {
        opacity: 1;
    }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }

    input[type=text], input[type=password], input[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
{% endblock %}


{% block body %}
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form method="POST">
        {% csrf_token %}
        <div class="container">
                <hr>
<!--                тянем лейбл, вспомогательный текст, текст ошибки и само поле из форм-->
                    {% for field in user_form %}
                        <b>{{ field.label_tag }}</b>
                        {{ field.help_text }}
                        {{ field.errors }}
                        {{ field }}
                    {% endfor %}

                    {% for f in profile_form %}
                        {% if f.name == 'department' %}
                            <label for="{{ f.name }}"><b>{{ f.name }}</b></label>
                            <select id="department" name="{{ f.name }}">
                                {% for dep in department %}
                                <option value="{{ dep.id }}">{{ dep.name }}</option>
                                {% endfor %}
                            </select>
                        {% elif f.name == 'position' %}
                            <label for="{{ f.name }}"><b>{{ f.name }}</b></label>
                            <select id="position" name="{{ f.name }}">
                                <option value="sysadmin">sysadmin</option>
                                <option value="manager">manager</option>
                            </select>
                        {% elif f.name == 'password' %}
                            <label for="{{ f.name }}"><b>{{ f.name }}</b></label>
                            <input type="password" name="{{ f.name }}" required>
                        {% else %}
                            <label for="{{ f.name }}"><b>{{ f.name }}</b></label>
                            <input type="text" value="{{ f.value }}" name="{{ f.name }}" required>
                        {% endif %}

                    {% endfor %}

                <hr>

                <button type="submit" class="editbtn">Save changes</button>
            </div>

        </div>
<!--        {{ user_form.as_p }}-->
<!--        {{ profile_form.as_p }}-->
<!--        {% csrf_token %}-->
<!--        <p><input type="submit" value="Save changes"></p>-->
    </form>
{% endblock %}