{% extends "crm/base.html" %}

{% block style %}

    /* ---------------- div class="row" ----------- */
    * {
        box-sizing: border-box;
    }

    .left {
        width: 25%;
    }

    .right {
        width: 75%;
    }

    .col-container {
        display: table;
        width: 100%;
    }
    .col {
        display: table-cell;
        padding: 16px;
    }

    .hot {
        color: red;
    }
{% endblock %}

{% block body %}

    {% if user.is_active %}
        <div class="col-container">
            <div class="col left" style="background-color:#aaa;">
                <h2>{{ profile.name }} {{ profile.surname }} {{ profile.patronymic }}</h2>
                <p>
                    <a href="{% url 'my_tasks' %}">Задачи поставленные мне</a>
                </p>
                <p>
                    <a href="{% url 'supervising_tasks' %}">Мной поставленные задачи</a>
                </p>
                <p>
                    <a href="{% url 'task_form' %}">Поставить задачу</a>
                </p>
                <p>
                    <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
                </p>
                <p>
                    <a href="{% url 'change_password' %}">Сменить пароль</a>
                </p>

                {% if user.is_superuser %}
                    <p>
                        <a href="{% url 'archive' %}">Архив</a>
                    </p>
                    <p>
                        <a href="{% url 'create_workplace' %}">отделы и должности</a>
                    </p>
                    <p>
                        <a href="{% url 'user_management' %}">управление пользователями</a>
                    </p>
                {% endif %}
            </div>
            <div class="col right" style="background-color:#bbb;">
                <p>Срочные задачи:</p>
                {% for hot_task in user_hot_task %}
                    <div class="hot">
                        <p id="{{ hot_task.id}}"><strong>{{ hot_task.subject }}</strong></p>
                        <p>{{ hot_task.description }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>user not logined</h1>
    {% endif %}

{% endblock %}
