{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/home_crm.css' %}">
{% endblock %}

{% block body %}
    {% if user.is_active and profile.user_id or user.is_superuser %}
        <div class="col-container">
            <div class="col left">

                {% if profile %}

                    <h2>{{ profile.name }} {{ profile.surname }} {{ profile.patronymic }}</h2>
                    <p>
                        <a href="{% url 'my_tasks' %}">My tasks</a>
                    </p>
                    <p>
                        <a href="{% url 'supervising_tasks' %}">Tasks assigned by me</a>
                    </p>
                    <p>
                        <a href="{% url 'task_form' %}">Assign a task</a>
                    </p>
                    <p>
                        <a href="{% url 'edit_profile' %}">Edit profile</a>
                    </p>
                    {% if not user.last_name %}
                        <p>
                            <a href="{% url 'change_password' %}">Change password</a>
                        </p>
                    {% endif %}
                {% else %}
                    <p>
                        <a href="{% url 'create_profile' %}">Create a profile</a>
                    </p>
                {% endif %}


                {% if user.is_superuser %}
                    <p>
                        <a href="{% url 'archive' %}">Archive</a>
                    </p>
                    <p>
                        <a href="{% url 'create_workplace' %}">Department & Job title</a>
                    </p>
                    <p>
                        <a href="{% url 'user_management' %}">User management</a>
                    </p>
                {% endif %}
            </div>
            <div class="col right">
                <h3>Urgent tasks:</h3>
                {% if not user_hot_task %}
                    <h2>Congratulations, you don't have tasks</h2>
                {% else %}
                    {% for hot_task in user_hot_task %}
                        <div class="hot">
                            <p id="{{ hot_task.id}}">
                                <a href="{% url 'my_task_inside' pk=hot_task.id %}">
                                    <strong>{{ hot_task.subject }}</strong>
                                    <br>
                                    finish before: ({{ hot_task.final_date }})
                                </a>
                            </p>
                            <p>{{ hot_task.description|linebreaks }}</p>

                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% elif user.is_active and not profile.user_id and not user.is_superuser %}
        <h1>You must fill out a <a href="{% url 'create_profile' %}">profile card</a></h1>
    {% else %}
        <div class="info">
            <h1>user not logined</h1>
        </div>
        <div class="logo">
            <h1> YOUR LOGO </h1>
        </div>
    {% endif %}

{% endblock %}
