{% extends "crm/base.html" %}

{% block style %}
<!--    style for comments  -->
    body {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 20px;
    }

    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
    }

    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    .time-right {
        float: right;
        color: #aaa;
    }


{% endblock %}


{% block body %}
    <h1>{{ task.subject }}</h1>
    <div>
        <p>{{ task.final_date }}</p>
<!--        <p><pre>{{ task.description }}</pre></p>-->
        <p>{{ task.description|linebreaks }}</p>
    </div>

    <div>
        <form method="POST">
        {% csrf_token %}
            <p>
                Completed: <input type="checkbox" id="myCheck" name="status" onclick="Go()" >
            </p>
            <input disabled name="complete" type="submit" value="Завершить">
        </form>
    </div>

<!--    create Comment    -->
    <br>
    <div id="create_comment">
        <form method="POST">
            {% csrf_token %}
            <p>Comment:</p>
            {{ comment_form.text }}
            <p>
                <input name="sent_comment" type="submit" value="отправить коментарий">
            </p>
        </form>
    </div>

<!--   output Comments    -->
    <br>

    <div id="block_comment">
<!--        <h2>Comment</h2>-->
        {% for comment in comments %}
            <div class="container">
                <h4>{{ comment.author.name }} {{ comment.author.surname }}</h4>
                <p>{{ comment.text|linebreaks }}</p>
                <span class="time-right">{{ comment.date }}</span>
            </div>
        {% endfor %}
    </div>


    <script>
        function Go() {
            var complete = document.getElementsByName('complete')[0];
            if (document.getElementById('myCheck').checked) {
                console.log(complete)
                complete.disabled = '';
            } else {
                complete.disabled = 'disabled';
            }
        }
    </script>
{% endblock %}
