{% extends "crm/base.html" %}

{% block style %}
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    .title {
        color: blue;
    }

    .completed {
        color: green;
    }

    .not_completed {
        color: red;
    }


<!--sorted-->
    .table_sort table {
        border-collapse: collapse;
    }

    th.sorted[data-order="1"],
    th.sorted[data-order="-1"] {
        position: relative;
    }

    th.sorted[data-order="1"]::after,
    th.sorted[data-order="-1"]::after {
        right: 8px;
        position: absolute;
    }

    th.sorted[data-order="-1"]::after {
        content: "▼"
    }

    th.sorted[data-order="1"]::after {
        content: "▲"
    }
{% endblock %}


{% block body %}

    <h2>Мне поставленные задачи</h2>

    <div style="overflow-x:auto;">
        <table class="table_sort">
            <thead>
                <tr class="title">
                    <th>Дата начала</th>
                    <th>Тема</th>
                    <th>Постановщик</th>
                    <th>Статус выполнения</th>
                    <th>Финальная дата</th>
                </tr>
            </thead>

            <tbody>
            {% for task in tasks %}
                <tr>
                    <th>{{ task.date_create }}</th>
                    <th>
                        <a href="{% url 'my_task_inside' pk=task.id %}">{{ task.subject }}</a>
                    </th>
                    <th>{{ task.task_manager.profile.surname }} {{ task.task_manager.profile.name }}</th>
                    {% if task.status_completed == 1 %}
                        <th class="completed">Completed</th>
                    {% else %}
                        <th class="not_completed">NOT Completed</th>
                    {% endif %}
                    <th>{{ task.final_date }}</th>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const getSort = ({ target }) => {
            const order = (target.dataset.order = -(target.dataset.order || -1));
            const index = [...target.parentNode.cells].indexOf(target);
            const collator = new Intl.Collator(['en', 'ru'], { numeric: true });
            const comparator = (index, order) => (a, b) => order * collator.compare(
                a.children[index].innerHTML,
                b.children[index].innerHTML
            );

            for(const tBody of target.closest('table').tBodies)
                tBody.append(...[...tBody.rows].sort(comparator(index, order)));

            for(const cell of target.parentNode.cells)
                cell.classList.toggle('sorted', cell === target);
            };

            document.querySelectorAll('.table_sort thead').forEach(tableTH => tableTH.addEventListener('click',
            () => getSort(event)));

        });
    </script>
{% endblock %}
