{% extends "crm/base.html" %}

{% block style %}
{% endblock %}


{% block body %}
    <h1>{{ task.subject }}</h1>
    <div>
        <p>{{ task.final_date }}</p>
        <p>{{ task.description }}</p>
    </div>
    <div>
        <form method="POST">
        {% csrf_token %}
            <p>
                Completed: <input type="checkbox" id="myCheck" name="status" onclick="myFunction()">
            </p>
            <p id="text" style="display:none">Task completed!</p>
            <input type="submit" value="Отправить">
        </form>
    </div>




    <script>
    function myFunction() {
        var checkBox = document.getElementById("myCheck");
        var text = document.getElementById("text");
        if (checkBox.checked == true){
            text.style.display = "block";
        } else {
           text.style.display = "none";
        }
    }
    </script>
{% endblock %}
