{% extends "crm/base.html" %}

{% block style %}
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    .title {
        color: blue;
    }

    .completed {
        color: green;
    }

    .not_completed {
        color: red;
    }
{% endblock %}


{% block body %}

    <h2>Мне поставленные задачи</h2>

    <div style="overflow-x:auto;">
        <table>

            <tr class="title">
                <th>Дата начала</th>
                <th>Тема</th>
                <th>Постановщик</th>
                <th>Статус выполнения</th>
                <th>Финальная дата</th>
            </tr>

            {% for task in tasks %}
                <tr>
                    <th>{{ task.date_create }}</th>
                    <th>
                        <a href="{% url 'my_task_inside' pk=task.id %}">{{ task.subject }}</a>
                    </th>
                    <th>{{ task.task_manager.profile.surname }} {{ task.task_manager.profile.name }}</th>
                    {% if task.status_completed == 1 %}
                        <th class="completed">Completed</th>
                    {% else %}
                        <th class="not_completed">NOT Completed</th>
                    {% endif %}
                    <th>{{ task.final_date }}</th>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}
