{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/my_tasks.css' %}">
    <script src="{% static 'crm/js/sorted.js' %}"></script>
{% endblock %}

{% block body %}

    <h2>My Tasks</h2>

    <div style="overflow-x:auto;">
        <table class="table_sort">
            <thead>
                <tr class="title">
                    <th>Start date</th>
                    <th>Topic</th>
                    <th>Reporter</th>
                    <th>Status</th>
                    <th>Final date</th>
                </tr>
            </thead>

            <tbody>
            {% for task in tasks %}
                {% if task.archived == False %}
                    <tr>
                        <th>{{ task.date_create }}</th>
                        <th>
                            <a href="{% url 'my_task_inside' pk=task.id %}">{{ task.subject }}</a>
                        </th>
                        <th>{{ task.task_manager.profile.surname }} {{ task.task_manager.profile.name }}</th>
                        {% if task.status_completed == 1 %}
                            <th class="completed">Completed</th>
                        {% else %}
                            <th class="not_completed">NOT Completed</th>
                        {% endif %}
                        <th>{{ task.final_date }}</th>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
