{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/my_task_inside.css' %}">
    <script src="{% static 'crm/js/my_task_inside.js' %}"></script>
{% endblock %}


{% block body %}
<!--    button return back-->

    <div class="btn">
        <p>
            <a class="previous" href="{% url 'my_tasks' %}"><< back to my tasks</a>
        </p>
    </div>

    <div class="task_info">
        <h1>{{ task.subject }}</h1>
        <p>{{ task.final_date }}</p>
        <p>{{ task.description|linebreaks }}</p>
    </div>

    <hr>
<!--    radio-btn completed     -->
    <div class="complete">
        <form name="{{ task.id }}" id="taskId" method="POST">
        {% csrf_token %}
            <p>
                Completed: <input type="radio" id="myCheck" name="status" onclick="delegateOff()" checked >
            </p>
            <p>
                Delegated: <input type="radio" id="notMyTask" name="status" onclick="delegateOn()">
            </p>
            <select disabled id="department" name="department">
                <option value="0">Choose your department</option>
                {% for g in group %}
                    <option value="{{ g.id }}">{{ g.name }}</option>
                {% endfor %}
            </select>

            <select disabled id="position" name="position">
            </select>

            <p>
                <input name="complete" type="submit" value="OK">
            <p>

        </form>
    </div>


<!--    create Comment    -->
    <br>
    <div id="create_comment">
        <form method="POST">
            {% csrf_token %}
            <p>Create comment:</p>
            {{ comment_form.text }}
            <br>
            <input name="sent_comment" type="submit" value="send comment">
        </form>
    </div>

<!--   output Comments    -->
    <br>
    <div id="block_comment">
        {% for comment in comments %}
            <div class="container">
                <h4>{{ comment.author.name }} {{ comment.author.surname }}</h4>
                <p>{{ comment.text|linebreaks }}</p>
                <span class="time-right">{{ comment.date }}</span>
            </div>
        {% endfor %}
    </div>

    <script>
        var positionURL = "{% url 'choice_profile' %}";
        csrfToken = '{{ csrf_token }}';

        document.getElementById("department").onchange = function() {
            var depId = document.getElementById('department').value;
            var taskId = document.getElementById('taskId').name;

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open('POST', positionURL);
            xmlhttp.setRequestHeader('Content-Type', 'application/json');
            xmlhttp.setRequestHeader('X-CSRFToken', csrfToken);

            xmlhttp.send(JSON.stringify({depId: depId, taskId: taskId}));

            xmlhttp.onreadystatechange = function () {

                if (this.readyState === 4 && this.status === 200) {
                    var response = JSON.parse(this.responseText);
                    var allPosition = response['pos_p']

                    // clean option list //
                    var pos = document.getElementById('position');
                    while (pos.options.length) {
                        pos.options[0] = null;
                    }

                    for (i = 0; i < allPosition.length; i++) {
                        var user = '(' + allPosition[i][2] + ')' + ' ' + allPosition[i][1] + ' ' + allPosition[i][0]
                        position.append(new Option(user, allPosition[i][3]))
                    }
                }
            }

        }
    </script>
{% endblock %}
