{% extends "crm/base.html" %}

{% block style %}
    body, html {
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        background-color: grey;
    }

    * {
        box-sizing: border-box;
    }

    /* Add styles to the form container */
    .container {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        max-width: 500px;
        padding: 16px;
        background-color: white;
    }

    /* Full-width input fields */
    input[type=text], input[type=email] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for the submit button */
    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .btn:hover {
        opacity: 1;
    }
{% endblock %}


{% block body %}
     <form method="POST">
        {% csrf_token %}
        <div class="container">
            <h3>Restore account</h3>

            {% for f in form %}
                <label for="{{ f.name }}"><b>{{ f.name }}</b></label>
                <input type="email" placeholder="Enter {{ f.name }}" name="{{ f.name }}" required>
            {% endfor %}

            <button type="submit" class="btn">confirm</button>
        </div>
    </form>
{% endblock %}
