{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/supervising_tasks.css' %}">
    <script src="{% static 'crm/js/sorted.js' %}"></script>
{% endblock %}


{% block body %}

    <h2>Tasks assigned by me</h2>

    <div style="overflow-x:auto;">
        <table class="table_sort">

            <thead>
                <tr class="title">
                    <th>Start date</th>
                    <th>Topic</th>
                    <th>Assignee</th>
                    <th>Status</th>
                    <th>Route</th>
                </tr>
            </thead>

            <tbody>
            {% for task in tasks %}
                {% if task.archived == False %}
                    <tr>
                        <th>{{ task.date_create }}</th>
                        <th>
                            <a href="{% url 'supervising_task_inside' pk=task.id %}">{{ task.subject }}</a>
                        </th>
                        <th>{{ task.executor.surname }} {{ task.executor.name }}</th>
                        {% if task.status_completed == 1 %}
                            <th class="completed">Completed</th>
                        {% else %}
                            <th class="not_completed">NOT Completed</th>
                        {% endif %}
                        <th>
                            <button class="open-button" onclick="openForm({{ task.id }})">task route</button>
                        </th>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>

        </table>

    </div>

    <div class="form-popup" id="myForm">
        <table id="route" class="table_route">
            <thead>
                <tr class="title">
                    <th>Who</th>
                    <th>Whom</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="table_body">
            </tbody>
        </table>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </div>

    <script>
        var positionURL = "{% url 'viewing_route' %}";
        csrfToken = '{{ csrf_token }}';

        function openForm(id) {

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open('POST', positionURL);
            xmlhttp.setRequestHeader('Content-Type', 'application/json');
            xmlhttp.setRequestHeader('X-CSRFToken', csrfToken);
            console.log(id);

            xmlhttp.send(JSON.stringify({task_id: id}));

            xmlhttp.onreadystatechange = function () {

                if (this.readyState === 4 && this.status === 200) {
                    var response = JSON.parse(this.responseText);
                    var route = response['route'];

                    var table = document.getElementById("table_body");

                    var rowCount = table.rows.length;
                    for (var x = rowCount-1; x >= 0; x--) {
                        table.deleteRow(x);
                    }

                    for  (let i = 0; i < route.length; i++) {
                        var rowNode = document.createElement("tr");
                        for (j = 0; j < route[i].length; j++) {
                            var cellNode = document.createElement("th");
                            var textNode = document.createTextNode(route[i][j]);
                            cellNode.append(textNode);
                            rowNode.append(cellNode);
                        }
                        table.appendChild(rowNode);
                    }

                    document.getElementById("myForm").style.display = "block";

                }
            }
        }


        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

{% endblock %}
