{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/supervising_task_inside.css' %}">
    <script src="{% static 'crm/js/activate_confirm.js' %}"></script>
{% endblock %}


{% block body %}
    <button><a href="{% url 'supervising_tasks' %}">back to tasks</a></button>

    <h1>{{ task.subject }}</h1>
    <div>
        <p>{{ task.final_date }}</p>
        <p>{{ task.description|linebreaks }}</p>
    </div>

    <div>
        <form method="POST">
        {% csrf_token %}
            <p>
                Сonfirm сompleted: <input type="checkbox" id="myCheck" name="status" onclick="Go()" >
            </p>
            <input disabled name="complete" type="submit" value="Завершить">
        </form>
    </div>

<!--    create Comment    -->
    <br>
    <div id="create_comment">
        <form method="POST">
            {% csrf_token %}
            <p>Comment:</p>
            {{ comment_form.text }}
            <br>
            <input name="sent_comment" type="submit" value="отправить коментарий">
        </form>
    </div>

<!--   output Comments    -->
    <br>

    <div id="block_comment">
        {% for comment in comments %}
            <div class="container">
                <h4>{{ comment.author.name }} {{ comment.author.surname }}</h4>
                <p>{{ comment.text|linebreaks }}</p>
                <span class="time-right">{{ comment.date }}</span>
            </div>
        {% endfor %}
    </div>

{% endblock %}
