{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/supervising_tasks.css' %}">
    <script src="{% static 'crm/js/sorted.js' %}"></script>
{% endblock %}


{% block body %}

    <h2>Мной поставленные задачи</h2>

    <div style="overflow-x:auto;">
        <table class="table_sort">

            <thead>
                <tr class="title">
                    <th>Дата начала</th>
                    <th>Тема</th>
                    <th>Исполнитель</th>
                    <th>Статус выполнения</th>
                </tr>
            </thead>

            <tbody>
            {% for task in tasks %}
                <tr>
                    <th>{{ task.date_create }}</th>
                    <th>
                        <a href="{% url 'supervising_task_inside' pk=task.id %}">{{ task.subject }}</a>
                    </th>
                    <th>{{ task.executor.surname }} {{ task.executor.name }}</th>
                    {% if task.status_completed == 1 %}
                        <th class="completed">Completed</th>
                    {% else %}
                        <th class="not_completed">NOT Completed</th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
