{% extends "crm/base.html" %}

{% block style%}
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
{% endblock %}


{% block body %}
    <table>
        <thead>
            <tr>
                <th>First / Last name</th>
                <th>Login</th>
                <th>Department</th>
                <th>Position</th>
                <th>Delete/Up to admin</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
                    <tr id="{{ user.id }}">
                        <td>{{ user.name }} {{ user.surname }}</td>
                        <td>{{ user.user }}</td>
                        <td>{{ user.department }}</td>
                        <td>{{ user.position.name }}</td>
                        <td>
                            <form method="POST">
                            {% csrf_token %}
                                <button name="delete" value="{{ user.user }}" onclick="return ok()">delete</button> |
                                {% if user.user.is_superuser %}
                                    <button name="permission" value="{{ user.user }}">down to user</button>
                                {% else %}
                                    <button name="permission" value="{{ user.user }}">up to admin</button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>

        function ok() {
            return confirm('Are you sure you want to delete this user??');
        }

    </script>
{% endblock %}