{% extends "crm/base.html" %}

{% load static %}
{% block static_files%}
    <link rel="stylesheet" href="{% static 'crm/css/user_management.css' %}">
    <script src="{% static 'crm/js/confirm_delete_and_change.js' %}"></script>
{% endblock %}


{% block body %}
    <h2>Users list</h2>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form class="example" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <table>
        <thead>
            <tr>
                <th>First / Last name</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Login</th>
                <th>Department</th>
                <th>Position</th>
                <th>Delete/Up to admin</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
                <tr id="{{ user.id }}">
                    <td>{{ user.name }} {{ user.surname }}</td>
                    <td>{{ user.user.email }}
                        <form method="POST">
                            {% csrf_token %}
                            <button name="change_mail" value="{{ user.user.email }}"
                                    onclick="return mail({{ user.id }})">edit</button>
                        </form>
                    </td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ user.user }}</td>
                    <td>{{ user.department }}</td>
                    <td>{{ user.position.name }}</td>
                    <td>
                        <form method="POST">
                        {% csrf_token %}
                            <button name="delete" value="{{ user.user }}" onclick="return ok()">delete</button> |
                            {% if user.user.is_superuser %}
                                <button name="permission" value="{{ user.user }}">down to user</button>
                            {% else %}
                                <button name="permission" value="{{ user.user }}">up to admin</button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}