{% extends "crm/base.html" %}

{% load static %}
{% block static_files %}
    <link rel="stylesheet" href="{% static 'crm/css/my_task_inside.css' %}">
{% endblock %}


{% block body %}
<!--    button return back-->
    <div class="btn">
        <p>
            <a class="previous" href="{% url 'archive' %}"><< back to archive</a>
        </p>
    </div>

    <div id="task" class="task_info">
        <h2>{{ task.subject }}</h2>
        <h3>from: {{ task.task_manager.profile.surname }} -----> to: {{ task.executor.surname }}</h3>
        <div class="date_info">
            <p>Start date: {{ task.date_create }}</p>
            <p>Final date: {{ task.final_date }}</p>
            <p>Finish date: {{ archive_task.date_complete }}</p>
        </div>
        <br>
        Description:
        <p>{{ task.description|linebreaks }}</p>
    </div>

<!--   output Comments    -->
    <br>
    <div id="block_comment">
        {% for comment in comments %}
            <div class="container">
                <h4>{{ comment.author.name }} {{ comment.author.surname }}</h4>
                <p>{{ comment.text|linebreaks }}</p>
                <span class="time-right">{{ comment.date }}</span>
            </div>
        {% endfor %}
    </div>

{% endblock %}
